@import "variables.scss";

.About {
  // background: #fff;
  flex: 1;
  letter-spacing: 0.06em;
  line-height: 1.8;

  &__title {
    padding: 10px 20px;
    text-align: center;
    font-family: "Lobster";
  }
  p {
    text-align: justify;
    padding: 5px 20px;
    line-height: 20px;
  }
  body {
    width: 100%;
    margin: -20px 0 0;
  }
  a {
    color: #a749e5;
    text-decoration: none;
  }

  &__stack-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    margin: 20px;
  }
  .accent {
    color: #a749e5;
  }
}
