@import "variables.scss";

button {
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  background: none;
  border: none;
  background: $BUTTON_COLOR;
  color: white;
  border-radius: 3px;
  font-weight: 100;
  font-size: 13px;
  padding: 10px 20px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.07em;

  &:hover {
    background-color: lighten($BUTTON_COLOR, 0.1);
  }

  &.button--small {
    padding: 6px 8px;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
  }
}

input,
textarea {
  border: 1px solid $BORDER_COLOR;
  padding: 3px;
  background: white;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 6px;
  font-family: "Roboto";
}

textarea {
  height: 70px;
  resize: none;
  font-size: 13px;
  padding: 12px;
  font-weight: 300;
}

.card {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: white;
  margin: 12px auto;
  padding: 15px;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: $LINK_COLOR;
  font-weight: 100;
  background: none;
  padding: 0;
  border: 0;

  &:hover {
    text-decoration: none;
  }
}

.flex-extend {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
  // background: white;
}
