@import "variables.scss";

.FriendList {
  margin-top: 24px;
  border-top: 2px dotted rgba(0, 0, 0, 0.2);
  padding-top: 12px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    flex: 1;
    font-size: 14px;
  }

  button {
    margin-left: 12px;
  }
}
