.ResetPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    background: linear-gradient(135deg, red, blue);
    position: fixed;
    top: -20px;
    right: -20px;
    left: -20px;
    bottom: -20px;
  }
}
